services:
  db:
    image: postgres:16
    container_name: lm_db_dev_2  # Umbenennen
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev_lm_tk:/var/lib/postgresql/data  # Anderes Volume
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata_dev_lm_tk:  # Anderes Volume definieren