<div class="page" *ngIf="!isUnderConstruction">
  <app-header class="site-header" [class.scrolled]="isScrolled"></app-header>

  <main id="main" class="site-main" role="main">
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-footer class="site-footer" *ngIf="!isAdminRoute"></app-footer>


</div>

<app-toast-container></app-toast-container>


<app-confirmation [isOpen]="(confirmationState$ | async)?.isOpen || false"
  [config]="(confirmationState$ | async)?.config || defaultConfig" (confirmed)="onConfirmed()"
  (cancelled)="onCancelled()">
</app-confirmation>